:root[data-theme="dark"] {
    --bg: #242323;
    --bg-shadow: #181818;
    --bg-notactive: #3a3737;
    --text: #ffffff;
    --text-placeholder: #bdb8b8;
    --button-bg: #2e2b2b;
    --screen: #54564f;
    --list-light: #626759;
    --list-hover: #3f413b;
    --screen-shadow: #3c3e38;
    --yellow-highlight: #edb110;
    --yellow-lowlight: #c78010;
    --yellow-shadow: #9b6a1b;
    --yellow-inset: #c59000;
    --blue-highlight: #2245d3;
    --blue-lowlight: #1417bb;
    --blue-shadow: #0407a7;
    --blue-inset: #0e2fb1;
    --green-highlight: #10cb00;
    --green-lowlight: #078f00;
    --green-shadow: #1d740b;
    --green-inset: #0ea506;
    --red-highlight: #d3191d;
    --red-lowlight: #ab1b1b;
    --red-shadow: #890606;
    --red-inset: #ab0a0d;
    --disabled-highlight: #888888;
    --disabled-lowlight: #6d6d6d;
    --disabled-shadow: #585555;
}

:root[data-theme="light"] {
    --bg: #e6e6e6;
    --bg-shadow: #cbcbcb;
    --bg-notactive: #ffffff;
    --text: #000000;
    --text-placeholder: #737272;
    --button-bg: #f4f5f6;
    --screen: #e1e6dd;
    --list-light: #eaefe1;
    --list-hover: #d6dbca;
    --screen-shadow: #d4d8ce;
    --yellow-highlight: #F8C63F;
    --yellow-lowlight: #E4A238;
    --yellow-shadow: #CD9131;
    --yellow-inset: #D8AB34;
    --blue-highlight: #3F64F8;
    --blue-lowlight: #383BE4;
    --blue-shadow: #3134CD;
    --blue-inset: #3455D8;
    --green-highlight: #55D34A;
    --green-lowlight: #34A92E;
    --green-shadow: #32941E;
    --green-inset: #3FC038;
    --red-highlight: #E24F52;
    --red-lowlight: #C52F2F;
    --red-shadow: #BA2222;
    --red-inset: #D9393C;
    --disabled-highlight: #b3b3b3;
    --disabled-lowlight: #878787;
    --disabled-shadow: #676767;
}

/* button colors */
.yellow{
    background: linear-gradient(var(--yellow-highlight), var(--yellow-lowlight));
    box-shadow: inset 0 -.4rem var(--yellow-shadow);
    /* outline: 4px solid #FACF59; */
}

.yellow:active{
    box-shadow: inset 0 .4rem var(--yellow-inset);
    transform: translateY(2px);
}

.blue{
    background: linear-gradient(var(--blue-highlight), var(--blue-lowlight));
    box-shadow: inset 0 -.4rem var(--blue-shadow);
    /* outline: 4px solid #4f70f3; */
}

.blue:active{
    box-shadow: inset 0 .4rem var(--blue-inset);
    transform: translateY(2px);
}

.green{
    background: linear-gradient(var(--green-highlight), var(--green-lowlight));
    box-shadow: inset 0 -.4rem var(--green-shadow);
    /* outline: 4px solid #4cdb3f; */
}

.green:active{
    box-shadow: inset 0 .4rem var(--green-inset);
    transform: translateY(2px);
}

.red{
    background: linear-gradient(var(--red-highlight), var(--red-lowlight));
    box-shadow: inset 0 -.4rem var(--red-shadow);
    /* outline: 4px solid #da5151; */
}

.red:active{
    box-shadow: inset 0 .4rem var(--red-inset);
    transform: translateY(2px);
}

.disabled{
    background: linear-gradient(var(--disabled-highlight), var(--disabled-lowlight));
    box-shadow: inset 0 -.4rem var(--disabled-shadow);
    pointer-events: none;
    cursor: unset;
}