/* overall style */
*{
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 5px 0 0;
    border-radius: 35px 35px 50px 50px;
    background-color: var(--bg-notactive);
    scrollbar-color: var(--text-placeholder) transparent;
    scrollbar-width: thin;
}

h1{
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    line-height: .95;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--text);
}

p, label, li, a{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.1;
    color: var(--text);
}

em{
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-weight: 200;
}

/* navbar */
.tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-inline: 5px;
    box-sizing: border-box;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-family: "Sofia Sans Condensed", sans-serif;
    color: var(--text);
    font-style: italic;
    font-weight: 200;
}

.tab{
    background-color: var(--bg-notactive);
    text-align: center;
    padding: 5px;
    border-radius: 20px 20px 0 0;
}

.activeTab{
    background-color: var(--bg);
    padding: 10px 0 0 0;
}

.tab:hover{
    cursor: pointer;
}

/* display */
.timer, .sites{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline: 5px;
    border: 10px solid var(--bg);
    background-color: var(--bg);
    box-shadow: 0 4px 0 0 var(--bg-shadow);
}

.timer{
    border-radius: 0 35px 45px 45px;
}

.sites{
    border-radius: 35px 0 45px 45px;
    position: relative;
    z-index: 1000;
}

.sites .screen{
    border-radius: 25px 0 0 25px;
    box-shadow:inset 0 0 5px 3px var(--screen-shadow);
}

.screen{
    height: 190px;
    background-color: var(--screen);
    border-radius: 25px;
    box-shadow: inset 0 0 5px 3px var(--screen-shadow);
    text-align: center;
    overflow: hidden;
}

.settings{
    padding: 25px 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    box-sizing: border-box;
    justify-items: center;
    width: 100%;
}

.display{
    display: none;
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.buttons{
    display: grid;
    grid-column: 1/3;
    width: 100%;
    gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background-color: var(--button-bg);
    padding: .5rem;
    box-sizing: border-box;
    border-radius: 50px;
}

button{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 1.65rem;
    padding: 1rem;
    padding-inline: 1.5rem;
    border-radius: 100px;
    transition: all .1s ease;
    outline-offset: 2px;
    color: white;
}

button:hover, label:hover{
    cursor: pointer;
    outline-offset: 4px;
}

/* timer screen boxes */
span{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: var(--text);
}

.timer_input {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    width: 70px;
    padding: 5px;
    border-width: 0 0 3px 0;
    border-color: var(--text);
    border-style: solid;
    background: transparent;
    color: var(--text);

}

.timer_input::placeholder{
    color: var(--text-placeholder);
}

.repeat{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--list-light);
    mask-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, transparent 100%);
    padding-block: .35rem;
}

.repeat_input{
    font-family: "Sofia Sans Condensed", sans-serif;
    width: 50px;
    border-width: 0 0 1px 0;
    border-color: var(--text);
    border-style: solid;
    background: transparent;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--text);
}

.repeat_input::placeholder{
    color: var(--text-placeholder);
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    width: fit-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type=radio]{
    accent-color: black;
}

/* clock */
h2 {
    font-family: "DM Serif Display", serif;
    color: var(--text);
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

/* sites  */
ul{
    overflow-y: scroll;
    height: 125px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: .35rem;
    text-align: left;
    list-style-type: none;
    padding-inline: 2rem
}

li:hover{
    cursor: pointer;
    background-color: var(--list-hover) !important;
}

li:hover::after{
    content: "remove";
    font-style: italic;
    background-color: transparent;
    font-weight: 300;
    font-size: 1.25rem;
}

li:nth-of-type(odd){
    background-color: var(--list-light);
    mask-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 1) 2.5%, rgba(0, 0, 0, 1) 97.5%, transparent 100%)
}

img {
    margin-right: .5rem;
    aspect-ratio: 1 / 1;
    width: 1.5rem;
}

.list-item{
    display: flex;
    align-items: center;
}

.URLSearch{
    display: flex; 
    gap: .5rem;
    z-index: 999;
    margin: .75rem;
}

.typeURL, .addURL{
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 200;
    color: var(--text);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: var(--list-light);
    align-items: center;
    box-sizing: border-box;
    padding-block: 4px;
    text-align: left;
    list-style-type: none;
    padding-inline: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--screen-shadow);
}

.typeURL{
    width: 100%;
}

.typeURL::placeholder{
    font-style: italic;
    font-weight: 400;
    color: var(--text-placeholder);
}

.addURL{
    background: linear-gradient(var(--list-light), var(--screen));
}

.addURL:active{
    background: linear-gradient(var(--screen), var(--list-hover));
}

/* footer */

footer{
    background-color: var(--button-bg);
    margin-top: 9px;
    padding-inline: .5rem;
    padding-top: .1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;
}

.icon{
    fill: var(--text);
    transform: translateY(-1px) scale(1);
    width: 20px;
    margin-left: 5px;
}

/* button colors */
.yellow{
    background: linear-gradient(var(--yellow-highlight), var(--yellow-lowlight));
    box-shadow: inset 0 -.4rem var(--yellow-shadow);
    /* outline: 4px solid #FACF59; */
}

.yellow:active{
    box-shadow: inset 0 .4rem var(--yellow-inset);
    transform: translateY(2px);
}

.blue{
    background: linear-gradient(var(--blue-highlight), var(--blue-lowlight));
    box-shadow: inset 0 -.4rem var(--blue-shadow);
    /* outline: 4px solid #4f70f3; */
}

.blue:active{
    box-shadow: inset 0 .4rem var(--blue-inset);
    transform: translateY(2px);
}

.green{
    background: linear-gradient(var(--green-highlight), var(--green-lowlight));
    box-shadow: inset 0 -.4rem var(--green-shadow);
    /* outline: 4px solid #4cdb3f; */
}

.green:active{
    box-shadow: inset 0 .4rem var(--green-inset);
    transform: translateY(2px);
}

.red{
    background: linear-gradient(var(--red-highlight), var(--red-lowlight));
    box-shadow: inset 0 -.4rem var(--red-shadow);
    /* outline: 4px solid #da5151; */
}

.red:active{
    box-shadow: inset 0 .4rem var(--red-inset);
    transform: translateY(2px);
}

.disabled{
    background: linear-gradient(var(--disabled-highlight), var(--disabled-lowlight));
    box-shadow: inset 0 -.4rem var(--disabled-shadow);
    pointer-events: none;
    cursor: unset;
}