/* overall style */
body {
    font-family: Lato;
    background-color: rgba(224, 224, 224, 1);
    width: 470px;
    height: 485px;
}
.header {
    color: #151515;
    font-size: 27px;
    font-weight: 700;
}
.button_row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
button {
    width: 135px;
    height: 28px;
    border: 1px solid #9E9E9E;
    background: #C1C1C1;
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
button:hover {
    background: #b9b9b9;
    border: 1px solid #929292;
}
button:active {
    background: #999999;
    border: 1px solid #616161;
    color: #343434;
}
/* style for timer row */
.row_timers {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 147px;
    width: 468px;
    border: 1px solid rgba(201, 201, 201, 1);
    background: rgba(209, 209, 209, 0);
}
.subrow_timers {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33%;
}
.column_timers {
    align-items: center;
    text-align: center;
    width: 50%;
}
.timer_input {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    width: 87px;
    height: 44px;
    border: 1px solid #A0A0A0;
    background: #FEFEFE;
}
.repeat_dropdown {
    padding-top: 2.5px;
    width: 132.5px;
    height: 23.5px;
    border: 1px solid #9E9E9E;
    background: #C1C1C1;
    color: #303030;
    font-size: 15px;
    font-weight: 500;
}
/* style for time remaining */
.row_timeRemaining {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 468px;
    border: 1px solid rgba(201, 201, 201, 1);
    background: rgba(209, 209, 209, 0);
}
.subrow_timeRemaining {
    padding-top: 10px;
    padding-bottom: 7.5px;
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.subrow_clock {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    height: 60%;
}
.clock {
    color: #151515;
    font-size: 80px;
    font-weight: 700;
}
.clock_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
}
/* style for permitted websites row */
.row_links {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 118px;
    width: 468px;
    border: 1px solid rgba(201, 201, 201, 1);
    background: rgba(209, 209, 209, 0);
}
.subrow_links {
    height: 33%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.link_input {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 420px;
    height: 32px;
    border: 1px solid #A0A0A0;
    background: #FEFEFE;
}